[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aditigaikwad
[access "refs/for/refs/*"]
	read = group user/aditigaikwad
	push = group user/aditigaikwad
	label-Code-Review = -2..+2 group user/aditigaikwad
	label-Verified = -1..+1 group user/aditigaikwad
	rebase = group user/aditigaikwad
	removeReviewer = group user/aditigaikwad
	submit = group user/aditigaikwad
[access "refs/heads/*"]
	read = group user/aditigaikwad
	create = group user/aditigaikwad
	push = +force group user/aditigaikwad
	pushMerge = group user/aditigaikwad
[access "refs/tags/*"]
	push = group user/aditigaikwad
	push = +force group user/aditigaikwad
